<?xml version="1.0" encoding="utf-8"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>


  <appSettings>
     <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
    <!--<add key="con" value="Data Source=SAKHIMAH45921RB;Initial Catalog=EMS;Integrated Security=true; Timeout=30000"/>-->
    <!--<add key="con" value="Data Source=.;Initial Catalog=EMS;Integrated Security=true; Timeout=30000"/>-->

	  <!--<add key="con" value="Data Source=DESKTOP-E9D7K5J\SQLEXPRESS;Initial Catalog=Procurement_New;User ID=sa;Password=7830196127; Timeout=30000" />!-->
   <add key="con" value="Data Source=182.18.144.204,1533;Initial Catalog=Kanha;User ID=sa;Password=everest; Timeout=30000" />
    
    <!--<add key="con" value="Data Source=.;Initial Catalog=DBQUALITY_PUNJAB;User ID=sa;Password=;Trusted_Connection=false;Integrated Security=true;   Timeout=30000" />-->
    <add key="CrystalImageCleaner-AutoStart" value="true" />
    <add key="CrystalImageCleaner-Sleep" value="60000" />
    <add key="CrystalImageCleaner-Age" value="120000" />
  </appSettings>
	<system.web>
		<compilation debug="true" targetFramework="4.5" />
		<httpRuntime targetFramework="4.5" />
	<pages>
      <controls>
        <add tagPrefix="ajaxToolkit" assembly="AjaxControlToolkit" namespace="AjaxControlToolkit" />
      </controls>
    </pages></system.web>
</configuration>
